body {
    background-color: #D6DCDE;
    color: white;
    align-items: center;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern" 
}

.view{
    align-items: center;
    text-align: center;
    margin: auto;
}

.header {
    background-color: #BB131A;
    height: 100px;
}

.logo {
    margin-left: auto;
    padding-left: -600px;
    padding-top: 30px;
}

.logo span {
    position: relative;
    margin-top: 200px;
    font-size: 25px;
    top: -42px;    
}

.logo img {
    margin-top: -30px;
    display: inline-block;
    width: 150px;
    height: 100px;
}

.nav_bar {
    background-color: #9E0B0F;
    width: 100%;
}

.sub_nav_bar {
    background-color: #770509;
}

.nav_bar ul, .sub_nav_bar ul {
    display: flex;
    justify-content: space-around;
}

.nav_bar li, .sub_nav_bar li {
    display: inline-block;
    align-items: center;
    padding: 7px;
    justify-content: space-evenly;
}

/* INFO DIV */
.info {
    position: relative;
    background-color: white;
    height: 400px;
    margin: auto;
    margin-top: -80px;
    color: black;
    z-index: 1000;
    box-shadow: 0 0 6px 4px rgb(199, 197, 197);
}

.info h1 {
    text-align: left;
    padding: 15px 30px 0;
    font-size: 35px;
    font-weight: bold;
}

.info h2 {
    text-align: left;
    padding: 30px 30px 0;
    color: grey;
    font-weight: bold;
}

.info p {
    text-align: justify;
    padding: 15px 30px 0;
    font-size: 19px;
}
/* /INFO DIV */

.under_info {
    position: relative;
    background-color: white;
    height: 500px;
    margin-top: -325px;
}

a {
    color: inherit;
    text-decoration: none;
}

.img_background img {
    width: 100vw;
    z-index: 100;
}

@media (min-width: 1000px) {
    .view {
        width: 80vw;
    }
    .under_info {
        width: 80vw;
    }
    .info {
        width: 70vw;
    }
    .img_background img {
        width: 80vw;
    }
}

#bell {
    width: 17px;
    height: 17px;
}